<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首页</title>
</head>

<body>
  SS555
  <p>kolor</p>
  <p>今年18岁</p>
  <p>养了一只威尔士柯基犬</p>
  <div id="map">哈哈</div>
</body>
<script src="/js/index.js"></script>

</html>